<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d7a79">  <td>19/03/03 17:07:57</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:com.framework.testcases.DisplayVendorPOM@10736d9]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/03/03 17:07:46</td>   <td>-11043</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:com.framework.testcases.DisplayVendorPOM@10736d9]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/03/03 17:07:46</td>   <td>-11028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:com.framework.testcases.DisplayVendorPOM@10736d9]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/03/03 17:07:46</td>   <td>-11429</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:com.framework.testcases.DisplayVendorPOM@10736d9]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="9d7a79">  <td>19/03/03 17:07:57</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:com.framework.testcases.DisplayVendorPOM@10736d9]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/03/03 17:07:46</td>   <td>-11053</td> <td>&nbsp;</td><td title="&gt;&gt;DisplayVendorPOM.setData()[pri:0, instance:com.framework.testcases.DisplayVendorPOM@10736d9]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@17319689</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/03/03 17:07:52</td>   <td>-4977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DisplayVendorPOM.vendorDisplay()[pri:0, instance:com.framework.testcases.DisplayVendorPOM@10736d9]">vendorDisplay</td> 
  <td>main@17319689</td>   <td></td> </tr>
</table>
